<h2>There are <u><%= @contacts.count %></u> Contacts</h2>
<hr>

<% @contacts.each do |contact| %>
  <p>
    <!-- <a href="/contacts/<%= contact.id %>"></a> -->
    <%= contact.id %> <%= contact.first_name %> <%= contact.last_name %>  (<%= contact.email %>)
  <h5>Edit | Delete</h5>
<% end %>
</p>
