
<p id="new"><a href="/contacts/new">Add a new contact</a></p>

<h2>There are <u><%= @contacts.count %></u> Contacts</h2>

<% @contacts.each do |contact| %>
  <p>
    <a href="/contacts/<%= contact.id %>">
    <%= contact.id %></a> : <%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)
  <h5><a href="#">Edit</a> | <a href="#">Delete</a></h5>
<% end %>
</p>
