<h1>Edit a Contact</h1>
<h3>ID : <%= @contact.id %></h3>

<form action="/contacts/<%= @contact.id %>" method="post">

  <input type="hidden" name="_method" value="put">

  <div>
    <label for="first-name">First Name:</label>
    <input type="text" id ="first-name" name="first_name" value="<%= @contact.first_name %>">
  </div>

  <div>
    <label for="last-name">Last Name:</label>
    <input type="text" id= "last-name" name="last_name" value="<%= @contact.last_name %>">
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="<%= @contact.email %>">
  </div>

  <div>
    <label for="note">Note:</label>
    <input type="text" id="note" name="note" value="<%= @contact.note %>">
  </div>

  <br>

  <div>
    <input type="submit" value="Edit Contact">
  </div>

</form>
